{% extends 'Blog/base.html' %}
{% block content %}
{% load static %}


<section class="container" style="padding-bottom: 20px;">

<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Expense reports</th>
    </tr>
  </thead>
  <tbody>
  {% for expense in expenses %}
    <tr>
      <td>
        <small>
            {{expense.expense_name}}
        </small>
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
</section>
    <!--Pagination-->
<section class="container fixed-bottom">
    <div class="box-element" style="padding: 10px;">
        <div class="row">
            <div class="pagination">
                <span class="step-links">
                    <small style="padding-left: 10px;"> 
                    {% if expense.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ expense.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ expense.number }} of 
                        {{ expense.paginator.num_pages }}.
                    </span>

                    {% if expense.has_next %}
                            <a href="?page={{ expense.next_page_number }}">next</a>
                            <a href="?page={{ expense.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                    </small>
                </span>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

