{% extends 'Blog/base.html' %}
{% block content %}
{% load static %}


<section class="container" style="padding:20px;">
  <div class="row" style="padding: 5px;">
    <div class="pagination">
          <span class="step-links">
                <small> 
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
                </small>
          </span>
     </div>
  </div>

<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Customers</th>
    </tr>
  </thead>
  <tbody>
  {% for customer in customers %}
    <tr>
      <td>
        <small>
            {{ customer.name }}
        </small>
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

</section>

{% endblock content %}

