{% extends 'Blog/base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}


<section class="container" style="padding-top: 30px;">
{% if user.is_superuser %}
<div class="card">
  <div class="card-header">
    <h5>Department</h5>
  </div>
  <div class="card-body">
      {% for department in departments %}
      <div style="padding: 3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right text-success" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
          <a href="{% url 'group-posts' department.department_name %}">{{ department.department_name }}</a>        
       </div>
    {% endfor %}
  </div>
</div>
</section>
{% else %}

<section class="container" style="padding-top: 10px;">
  <div>
    <h3>Create your report here</h3>
    <hr>
  </div>

  <div>
    <small>
      <a class="" href="{% url 'post-create' %}">New report</a>
    </small>
  </div>
</section>
  {% endif %}

<section class="container" style="padding-top: 20px; padding-bottom: 60px;">
  <div class="card">
    <div class="card-header">
      <h5>Analysis</h5>
    </div>
    <div class="card-body">
          <p><small>Successful reports</small></p>
          <h5>{{post_count}}</h5>
          <p><small>Staff</small></p>
          <h5>{{user_count}}</h5>
          <p><small>Customers</small></p>
          <h5>{{customer_count}}</h5>
          <p><small>Products and Services</small></p>
          <h5>{{product_count}}</h5>
    </div>
  </div>
</section>


{% else %}
<section style="padding-top: 80px;background-image: url('{% static "img/login.jpg" %}'); height: 100%; background-repeat: no-repeat;
  background-size: cover; ">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 border-right"> 
        <div>
        <h2>Management Reporting System</h2><br>
        </div>
        <div>
          <p>
            <small>
              This reporting system provides information- in the shape of reports or statements. This system helps management by providing them with real-time and relevant information.
            </small>
          </p>
        <a class="btn btn-outline-dark" href="{% url 'login' %}" class="">Login</a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <center>
        <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="" width="50%">
        </center>
      </div> 
    </div>
    </div>
</section>
{% endif %}

{% endblock content %}

