{% extends 'Blog/base.html' %}
{% block content %}
{% load static %}


<section class="container-fluid" style="padding: 30px;">
  <div class="row" style="padding: 5px;">
    <div class="pagination">
          <span class="step-links">
                <small> 
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
                </small>
          </span>
    </div>
  </div>
  <table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th scope="col"><small>Evidence</small></th>
      <th scope="col"><small>Employee</small></th>
      <th scope="col"><small>Day</small></th>
      <th scope="col"><small>Criteria</small></th>
      <th scope="col"><small>Capacity</small></th>
      <th scope="col"><small>Customer</small></th>
      <th scope="col"><small>Contact</small></th>     
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    {{ form.as_p }}
    <tr>
      <td>
          <small>
              <p style="font-weight: bold;">{{ post.evidence }}</p>
          </small>
      </td>
      <td><small>{{ post.author }}</small></td>
      <td>
        <small>
           {{ post.date }}         
        </small>
      </td>
      <td><small>{{ post.criteria }}</small></td>
      <td><small>{{ post.products_ordered }}</small></td>
      <td><small>{{ post.customer }}</small></td>
      <td><small>{{post.contact}}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>  
</section>
 
{% endblock content %}

