

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, h2, h3, h4, h5, h6 {
   font-weight: bold;
   text-transform: capitalize;
}
p {
  text-transform: capitalize;
}
body{
  font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
.nav-item:hover {

}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-link {
   color: black;
   text-decoration: none;
}

a {
  text-decoration: underline;
  }
/***********************     */




/* *******************************    */

.box-element{
  color: #000000;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 4px;
  border-color: #d3d3d3;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.box-element > * {
    flex: 1 1 400px;
}

#box-body {
  padding-left: 5px;
}

.box-notification {
  box-shadow:hsl(0, 0%, 80%) 0 0 16px;
  color: #000;
  background-color: #ffffff;
  border-radius: 4px;
  border-color: #000000;
  padding: 10px;
  top: 400px;
  display: flex;
    flex-wrap: wrap;
}
.box-notification > * {
  flex: 1 1 400px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #b03642;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  color: #ffffff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #cde5f6;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #000000;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #67474a;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #ffffff;
}






#footer-bottom
{

}

#footer {
  color: #444444;
  font-size: 14px;
  background: #0ecfe0;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer .social-links a:hover {
  background: #0ecfe0;
  color: #000;
  text-decoration: none;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: #000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.rounded-circle {
    width: 50px;
    height: 50px;
    border-radius:50% 50% 50% 50%;
}

.circle-img {
    width:30px;
    height:30px;
    border-radius:50% 50% 50% 50%; 
}

.text-username {
  font-style: bold;
  color: black;
  position: right;
}

.text-center {
  font-weight: bold;
}


#notification{
  text-align: center;
  color:#fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 30%;
  font-size: 14px;
}

/*Column Highlighting*/
tr:nth-child(even) {
  background-color: #b0e0e6;
}

th {
  background: #32c0cc;
  color: #ffffff;
  font-weight: bold;
}

